.mat-card{
  .tih2 {
    margin: 10px;
  }
  .title-general{
    justify-content: center !important;
  }
  
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .margin {
    margin: 0 10px;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
  
    margin-left: -8px;
    margin-right: -8px;
    .cards__item {
        /* There will be 4 cards per row */
        //flex-basis: 25%;
        margin: 5px;
        padding-left: 8px;
        padding-right: 8px;
        
        .card {
            max-width: 400px;
            .mat-card-content{
              align-items: center;
              .tih2 {
                font-size: 100%;
                position: absolute;
                text-align: center;
                top: 40%;
                left: 40%;
                transform: translate(-50%, -50%);
              }
            }
        }
    }
  }
  
  
}


