/*
.mat-card{
  display: flex;
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
}
*/

.cards {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
  .cards__item {
      /* There will be 4 cards per row */
      flex-basis: 25%;
      margin: 5px;
      padding-left: 8px;
      padding-right: 8px;
      
      .example-card {
          max-width: 400px;

          .example-header-image {
              background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
              background-size: cover;
          }
      }
  }
}

