.container {
    display: flex;
align-items: center;

    /* OPTIONAL: Spacing between items */
    margin: 16px 0;
    .container__image {
                
        display: grid;
        position: relative;
        img {
            position: relative;
            top: -85px;    
            width: 150px;
            height: 150px;
            border-radius: 50%;}
    }
    .container__feature {
        /* Take the remaining width */
        flex: 1;
        margin-left: 50px;
    }
}



