.container {
    display: flex;

    /* OPTIONAL: Spacing between items */
    margin: 16px 0;
    .container__image {
        width: 128px;
    }
    .container__feature {
        /* Take the remaining width */
        flex: 1;
    }
}



