.container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
      }

    /* OPTIONAL: Spacing between items */
    margin: 16px 0;
    .container__image {
                
        display: grid;
        text-align: center;
        position: relative;
        top: -85px;
        img {
                
            width: 150px;
            height: 150px;
            border-radius: 50%;}
    }
    .container__feature {
        /* Take the remaining width */
        margin-left: 30px;
        text-align: justify;
    }
}



