
<div class="container">
    <div class="container__image">
        <img src="https://scontent.fcor2-2.fna.fbcdn.net/v/t1.6435-9/78760262_10219956525000837_4673883101993107456_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_aid=0&_nc_ohc=HiVaASqeG5gAX9j064L&tn=m4yPid6nRSUCvEuD&_nc_ht=scontent.fcor2-2.fna&oh=00_AT_w2xRjzjR7WKptbgF6xUCQdx2FMf7OdYIL6Cfm5za67w&oe=62555AE0" />
    </div>
    

    <!-- Right side -->
    <div class="container__feature">
        FRANCO CERIONI (EL PEPE)
    </div>
</div>
