
<div class="container"*ngFor="let header of arrHead">
    <div class="container__image" >
        <img src={{header.hd_urlperfil}} />
        
        <h2>{{header.hd_nombre}}</h2>
        <h3>{{header.hd_profesion}}</h3>
        
        <mat-card-actions class="edicion">
            <button mat-button>
              <mat-icon>create</mat-icon>
            </button>
      
        </mat-card-actions>
    </div>
    

    <!-- Right side -->
    <div class="container__feature">
      <div>
        <p>{{header.hd_sobremi}}</p>
      </div>
      <mat-card-actions class="edicion">
        <button mat-button>
          <mat-icon>create</mat-icon>
        </button>
      </mat-card-actions>    
    </div>
</div>


  