<mat-card>
    <mat-card-header>
        <mat-card-title>MODIFICAR EDUCACION</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <form [formGroup]="myForm" novalidate (ngSubmit)="svEducation()"
        fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field class="id">
          <mat-label>Id</mat-label>
          <input matInput placeholder="" formControlName="id" id="id" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input matInput placeholder="" formControlName="ed_titulo" id="ed_titulo" required>
          <mat-error *ngIf="myError('ed_titulo', 'minlength')">Demasiado corto</mat-error>
          <mat-error *ngIf="myError('ed_titulo', 'required')">El dato requerido</mat-error>
          <mat-error *ngIf="myError('ed_titulo', 'maxlength')">Demasiado largo</mat-error>
        </mat-form-field>
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="" formControlName="ed_descripcion" id="ed_descripcion" required></textarea>
            <mat-error *ngIf="myError('ed_descripcion', 'minlength')">Demasiado corto</mat-error>
            <mat-error *ngIf="myError('ed_descripcion', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('ed_descripcion', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Intituto</mat-label>
            <input matInput placeholder="" formControlName="ed_institucion" id="ed_institucion" required>
            <mat-error *ngIf="myError('ed_institucion', 'minlength')">Demasiado corto</mat-error>
            <mat-error *ngIf="myError('ed_institucion', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('ed_institucion', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>URL Logo</mat-label>
            <input matInput placeholder="" formControlName="ed_urllogo" id="ed_urllogo" required>
            <mat-error *ngIf="myError('ed_urllogo', 'minlength')">Demasiado corto</mat-error>
            <mat-error *ngIf="myError('ed_urllogo', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('ed_urllogo', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="" formControlName="ed_comienzo" id="ed_comienzo" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="myError('ed_comienzo', 'required')">El dato requerido</mat-error>
          </mat-form-field>
    
          
          <mat-form-field>
            <mat-label>Fecha de Finalización</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="" formControlName="ed_final" id="ed_final">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field> 
          <mat-card>
              <mat-label>Actual</mat-label>
              <mat-checkbox formControlName="ed_actual" id="ed_actual" placeholder="Actual"></mat-checkbox>
          </mat-card>

          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="ed_tipo" id="ed_tipo" required>
              <mat-option *ngFor="let ted of arrTEd" value={{ted.name}}>{{ted.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myError('ed_tipo', 'required')">El dato requerido</mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button  mat-raised-button color="primary">Aceptar</button>
            <button  mat-raised-button color="primary" [mat-dialog-close]="myForm">Cancelar</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
      
      
  </mat-card>