.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
    .cards__item {
        /* There will be 4 cards per row */
        //flex-basis: 25%;
        margin: 5px;
        padding-left: 8px;
        padding-right: 8px;
        .mat-card-title{
            text-align: center;
        }
        .proyecto-card {
            
            max-width: 400px;
            .id{
                display: none !important;
            }
        
        }
    }
}

.link{
  cursor: pointer;
}
.p-carousel-prev-icon,
.pi {
  display: none !important;
}

.pi {
  display: none !important;
}

.pi-chevron-left{
  &:before {
    content: '' !important;
  }
}


::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-right-color: #99bbff;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: #99bbff;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-color: #99bbff;
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color:  hsla(0 0% 0% / 0);
  &:focus {
    box-shadow: none;
    background-color: rgba(0, 60, 255, 0.5)!important;
  }
  &:hover {
    border-left-style: solid !important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: thin !important;
    border-top-width: thin !important;
    border-bottom-width: thin !important;
    outline: none !important;
    background-color: rgba(0, 60, 255, 0.5)!important;
  }
  &::after {
    width: 0.513rem;
    height: 1.25rem;
    font-size: 0.875rem;
    font-family: Roboto;
    transform: scale(2, 4);
  }
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-left-color: #99bbff;
  border-top-color: #99bbff;
  border-bottom-color: #99bbff;

  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-width: thin;
  border-top-width: thin;
  border-bottom-width: thin;  
  background-color:  hsla(0 0% 0% / 0);
  outline: none !important;
  &::after {
    width: 0.513rem;
    height: 1.25rem;
    font-size: 0.875rem;
    font-family: Roboto;
    transform: scale(2, 4);
  }
  &:active {
    border-left-style: solid !important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: thin !important;
    border-top-width: thin !important;
    border-bottom-width: thin !important;
    outline: none !important;
    background-color: rgba(0, 60, 255, 0.5)!important;
  }
  &:focus {
    border-left-style: solid !important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: thin !important;
    border-top-width: thin !important;
    border-bottom-width: thin !important;
    outline: none !important;
    background-color: rgba(0, 60, 255, 0.5)!important;
  }
  &:hover {
    border-left-style: solid !important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: thin !important;
    border-top-width: thin !important;
    border-bottom-width: thin !important;
    outline: none !important;
    background-color: rgba(0, 60, 255, 0.5)!important;
  }
  &:enabled {
    border-left-style: solid !important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: thin !important;
    border-top-width: thin !important;
    border-bottom-width: thin !important;
    outline: none !important;
    &:hover {
      border-left-style: solid !important;
      border-top-style: solid !important;
      border-bottom-style: solid !important;
      border-left-width: thin !important;
      border-top-width: thin !important;
      border-bottom-width: thin !important;
      outline: none !important;
      background-color: rgba(0, 60, 255, 0.5)!important;
    }
  }
}

.p-carousel-next{
  &:focus {
    border-left-style: solid !important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-left-width: thin !important;
    border-top-width: thin !important;
    border-bottom-width: thin !important;
    outline: none !important;
  }

}


::ng-deep .p-disabled {
  /* visibility: hidden !important; */
  border-left-color: white !important;
  border-right-color: white !important;
  border-top-color: white !important;
  border-bottom-color: white !important;
}

