.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
    .cards__item {
        /* There will be 4 cards per row */
        //flex-basis: 25%;
        margin: 5px;
        padding-left: 8px;
        padding-right: 8px;
        .mat-card-title{
            text-align: center;
        }
        .proyecto-card {
            
            max-width: 400px;
            .id{
                display: none !important;
            }
        
        }
    }
}

.link{
  cursor: pointer;
}


::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-right-color: hsla(0 0% 0% / 0);
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: hsla(0 0% 0% / 0);
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-color: hsla(0 0% 0% / 0);
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color:  rgba(0, 0, 0, 0);
   &:active {
    outline: none !important;
    background-color: rgba(34, 0, 255, 0.251)!important;
  }
  &:focus {
    outline: none !important;
    background-color: rgba(34, 0, 255, 0.251)!important;
  }
  &:hover {
    outline: none !important;
    background-color: rgba(34, 0, 255, 0.251)!important;
  }
  &:enabled {
    outline: none !important;
    &:hover {
      outline: none !important;
      background-color: rgba(34, 0, 255, 0.251)!important;
    }
  }
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-left-color: hsla(0 0% 0% / 0);
  border-left-style: solid;
  border-left-width: thin;
  border-top-color: hsla(0 0% 0% / 0);
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-color: hsla(0 0% 0% / 0);
  border-bottom-style: solid;
  border-bottom-width: thin;  
  background-color:  hsla(0 0% 0% / 0);
  outline: none !important;
  &:active {
    outline: none !important;
    background-color: rgba(34, 0, 255, 0.251)!important;
  }
  &:focus {
    outline: none !important;
    background-color: rgba(34, 0, 255, 0.251)!important;
  }
  &:hover {
    outline: none !important;
    background-color: rgba(34, 0, 255, 0.251)!important;
  }
  &:enabled {
    outline: none !important;
    &:hover {
      outline: none !important;
      background-color: rgba(34, 0, 255, 0.251)!important;
    }
  }
}

