.cards {
    max-height:100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .cards__item {
        margin: 5px;
        padding-left: 8px;
        padding-right: 8px;
        .mat-card-title{
            text-align: center;
        }
        .proyecto-card {
            max-width: 400px;
            .link{
                text-decoration: underline;
                color: blue;
                cursor: pointer;
            }
        }
    }
}

