.dark-overlay{
    z-index: 50!important;
    display:flex;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height:100%;
    align-items: center;
    .spinner{
        margin: auto;
    }
}