.lateral{
    background-color: rgb(48, 48, 63);
    width: 30%!important;
    color: whitesmoke;
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        mat-card-subtitle{
            color: whitesmoke !important;
        }
        .container__image { 
            margin-top: 40px;
            display: grid;
            text-align: center;
            img {
                    
                width: 150px;
                height: 150px;
                border-radius: 50%;}
        }
        .container__feature {
            /* Take the remaining width */
            margin: 30px;
            text-align: justify;
            mat-card-title{
                text-align: center;
                margin:30px;
            }
            .enlace{
                display: flex;
                mat-icon{
                    margin-right: 3px;
                    color: black;
                }
            }
        }
    }
}

.title-general{
    justify-content: center !important;
  }
  
  .proyecto-card {
    margin-bottom: 8px;
    p {
      text-align: justify; 
    }
  
  }