<div class="home">
    <app-spinner></app-spinner>
    <div id ="hero">
      <mat-card>    
        <mat-card>
          <app-header></app-header>
          <app-about></app-about>
        </mat-card>  
      </mat-card>
    </div>
    <div id ="experiencia">
      <mat-card>      
        <app-exp></app-exp>
        <app-education></app-education>
      </mat-card>
    </div>
    <div id ="skill">
      <mat-card>      
        <app-skill></app-skill>
      </mat-card>
    </div>
    <div id = "proyectos">
      <mat-card>
        <mat-card>
        <app-project></app-project>
        </mat-card>
      </mat-card>
    </div>
</div>






