mat-toolbar{
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  .link{
    cursor: pointer;
  }
  .spacer {
    flex: 1 1 auto!important;
  }
  a.neon {
    display: none;
    $layout-breakpoint-small: 600px;
    @media (min-width: $layout-breakpoint-small) {
      font-size:65%;
      display:inline-block;
      padding:0.35em 1.2em;
      border:0.1em transparent #8e8e92;
      margin:0 0.3em 0.3em 0;
      border-radius:0.22em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:#8e8e92;
      text-align:center;
      transition: all 0.2s;
      
    }
    &:hover{
      color:#000000;
      background-color:#FFFFFF;
      }
  }
}








 