mat-card{
    margin: auto;
    mat-card-header{
        justify-content: center;
    }
    
 
    
    mat-form-field{
        width: 90%;
        
    }
    .id{
        display: none !important;
    }
    
    mat-card-actions{
        text-align: center;
    }
/*
    #id, 
    #hd_urlbanner,
    #hd_urlperfil,
    #hd_nombre,
    #hd_profesion,
    #hd_sobremi,
    #edicion,
    #profile{
        display: none;
    }*/
}