<mat-card>
    <mat-card-header>
        <mat-card-title *ngIf="entrada=='educacion'">EDUCACION</mat-card-title>
        <mat-card-title *ngIf="entrada=='experiencia'">EXPERIENCIA</mat-card-title>
        <mat-card-title *ngIf="entrada=='proyecto'">PROYECTO</mat-card-title>
        <mat-card-title *ngIf="entrada=='skill'">SKILL</mat-card-title>
        <mat-card-title *ngIf="entrada=='profile'">PERFIL</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="myForm" novalidate (ngSubmit)="saveAll(entrada)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div *ngIf="entrada=='educacion'">
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input matInput placeholder="" formControlName="ed_titulo" id="ed_titulo" required>
          <mat-error *ngIf="myError('ed_titulo', 'required')">El dato requerido</mat-error>
          <mat-error *ngIf="myError('ed_titulo', 'maxlength')">Demasiado largo</mat-error>
        </mat-form-field>
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="" formControlName="ed_descripcion" id="ed_descripcion" required></textarea>
            <mat-error *ngIf="myError('ed_descripcion', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('ed_descripcion', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Intituto</mat-label>
            <input matInput placeholder="" formControlName="ed_institucion" id="ed_institucion" required>
            <mat-error *ngIf="myError('ed_institucion', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('ed_institucion', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>URL Logo</mat-label>
            <input matInput placeholder="" formControlName="ed_urllogo" id="ed_urllogo" required>
            <mat-error *ngIf="myError('ed_urllogo', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('ed_urllogo', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field><mat-form-field>
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="" formControlName="ed_comienzo" id="ed_comienzo" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="myError('ed_comienzo', 'required')">El dato requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de Finalización</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="" formControlName="ed_final" id="ed_final" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field> 
          <mat-card>
              <mat-label>Actual</mat-label>
              <mat-checkbox formControlName="ed_actual" id="ed_actual" [(ngModel)]="disabled" placeholder="Actual"></mat-checkbox>
          </mat-card>
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="ed_tipo" id="ed_tipo" required>
              <mat-option *ngFor="let ted of arrTEd" value={{ted.name}}>{{ted.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myError('ed_tipo', 'required')">El dato requerido</mat-error>
          </mat-form-field>
      </div>
      <div *ngIf="entrada=='experiencia'">
        <mat-form-field>
          <mat-label>Compañía</mat-label>
          <input matInput placeholder="" formControlName="exp_titulo" id="exp_titulo" required>
          <mat-error *ngIf="myError('exp_titulo', 'required')">El dato requerido</mat-error>
          <mat-error *ngIf="myError('exp_titulo', 'maxlength')">Demasiado largo</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Puesto</mat-label>
            <input matInput placeholder="" formControlName="exp_sitio" id="exp_sitio" required>
            <mat-error *ngIf="myError('exp_sitio', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('exp_sitio', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tareas del Puesto</mat-label>
            <textarea matInput placeholder="" formControlName="exp_descripcion" id="exp_descripcion" required></textarea>
            <mat-error *ngIf="myError('exp_descripcion', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('exp_descripcion', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>URL Logo</mat-label>
            <input matInput placeholder="" formControlName="exp_urllogo" id="exp_urllogo" required>
            <mat-error *ngIf="myError('exp_urllogo', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('exp_urllogo', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="" formControlName="exp_comienzo" id="exp_comienzo" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="myError('exp_comienzo', 'required')">El dato requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de Finalización</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="" formControlName="exp_final" id="exp_final" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field> 
          <mat-card>
            <mat-label>Actual</mat-label>
            <mat-checkbox formControlName="exp_actual" id="exp_actual" [(ngModel)]="disabled" placeholder="Actual"></mat-checkbox>
          </mat-card>
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="exp_tipo" id="exp_tipo" required>
              <mat-option *ngFor="let texp of arrTExp" value={{texp.name}}>{{texp.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myError('exp_tipo', 'required')">El dato requerido</mat-error>
          </mat-form-field>
      </div>
      <div *ngIf="entrada=='proyecto'">
        <mat-form-field>
        <mat-label>Titulo del Proyecto</mat-label>
        <input matInput placeholder="" formControlName="proy_titulo" id="proy_titulo" required>
        <mat-error *ngIf="myError('proy_titulo', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('proy_titulo', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción del Proyecto</mat-label>
        <textarea matInput placeholder="" formControlName="proy_descripcion" id="proy_descripcion" required></textarea>
        <mat-error *ngIf="myError('proy_descripcion', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('proy_descripcion', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url del Proyecto</mat-label>
        <input matInput placeholder="" formControlName="proy_url" id="proy_url" required>
        <mat-error *ngIf="myError('proy_url', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('proy_url', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cliente del Proyecto</mat-label>
        <input matInput placeholder="" formControlName="proy_cliente" id="proy_cliente" required>
        <mat-error *ngIf="myError('proy_cliente', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('proy_cliente', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url de la imagen del Proyecto</mat-label>
        <input matInput placeholder="" formControlName="proy_urlimg" id="proy_urlimg" required>
        <mat-error *ngIf="myError('proy_urlimg', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('proy_urlimg', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria del Proyecto</mat-label>
        <mat-select formControlName="proy_categoria" id="proy_categoria" required>
          <mat-option *ngFor="let tproyecto of arrTProject" value={{tproyecto.name}}>{{tproyecto.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="myError('proy_categoria', 'required')">El dato requerido</mat-error>
      </mat-form-field>
      </div>
      <div *ngIf="entrada=='skill'">
        <mat-form-field>
        <mat-label>Skill</mat-label>
        <input matInput placeholder="" formControlName="sk_titulo" id="sk_titulo" required>
        <mat-error *ngIf="myError('sk_titulo', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('sk_titulo', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Porcentaje de Nivel</mat-label>
        <input matInput placeholder="" formControlName="sk_habilidad" id="sk_habilidad" required>
        <mat-error *ngIf="myError('sk_habilidad', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('sk_habilidad', 'pattern')">Solo podes poner numeros del 0 al 100</mat-error>
      </mat-form-field>
      </div>
      <div *ngIf="entrada=='profile'">
        <mat-form-field id="hd_urlbanner" *ngIf="section.indexOf('hd_urlbanner') > -1">
          <mat-label>URL Banner</mat-label>
          <input matInput placeholder="" formControlName="hd_urlbanner" required>
          <mat-error *ngIf="myError('hd_urlbanner', 'required')">El dato requerido</mat-error>
          <mat-error *ngIf="myError('hd_urlbanner', 'maxlength')">Demasiado largo</mat-error>
        </mat-form-field>
          <mat-form-field id="hd_urlperfil" *ngIf="section.indexOf('hd_urlperfil') > -1">
            <mat-label>URL Perfil</mat-label>
            <input matInput placeholder="" formControlName="hd_urlperfil" required>
            <mat-error *ngIf="myError('hd_urlperfil', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_urlperfil', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field id="hd_nombre" *ngIf="section.indexOf('hd_nombre') > -1">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="" formControlName="hd_nombre"  required>
            <mat-error *ngIf="myError('hd_nombre', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_nombre', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field  id="hd_profesion" *ngIf="section.indexOf('hd_profesion') > -1">
            <mat-label>Profesión</mat-label>
            <input matInput placeholder="" formControlName="hd_profesion" required>
            <mat-error *ngIf="myError('hd_profesion', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_profesion', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field id="hd_sobremi" *ngIf="section.indexOf('hd_sobremi') > -1">
            <mat-label>Sobre Mí</mat-label>
            <textarea matInput placeholder="" formControlName="hd_sobremi" required></textarea>
            <mat-error *ngIf="myError('hd_sobremi', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_sobremi', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field id="hd_mail" *ngIf="section.indexOf('hd_mail') > -1">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="hd_mail" required>
            <mat-error *ngIf="myError('hd_mail', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_mail', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field id="hd_urllkd" *ngIf="section.indexOf('hd_urllkd') > -1">
            <mat-label>Linkedin</mat-label>
            <input matInput placeholder="" formControlName="hd_urllkd" required>
            <mat-error *ngIf="myError('hd_urllkd', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_urllkd', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
          <mat-form-field id="hd_urlgit" *ngIf="section.indexOf('hd_urlgit') > -1">
            <mat-label>Git Hub</mat-label>
            <input matInput placeholder="" formControlName="hd_urlgit" required>
            <mat-error *ngIf="myError('hd_urlgit', 'required')">El dato requerido</mat-error>
            <mat-error *ngIf="myError('hd_urlgit', 'maxlength')">Demasiado largo</mat-error>
          </mat-form-field>
      </div>
    
        <mat-card-actions>
          <button  mat-raised-button color="primary" [disabled]="!myForm.valid">Aceptar</button>
          <button  mat-raised-button color="primary"[mat-dialog-close]="myForm">Cancelar</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
</mat-card>

  
<app-spinner></app-spinner>