<mat-accordion>
  <mat-card-content>
    <h2 class="tih2">Experiencias Laborales</h2>
  </mat-card-content>
  <mat-expansion-panel hideToggle *ngFor="let experiencia of arrExperiencias">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div> {{experiencia.exp_titulo}}</div>
      </mat-panel-title>
      <mat-panel-description>
        {{experiencia.exp_sitio}}
      </mat-panel-description>
    </mat-expansion-panel-header>
        {{experiencia.exp_descripcion}}
        <div  class="fecha" *ngIf=!experiencia.exp_final>{{experiencia.exp_comienzo |date:"yyyy"}} Actual</div> 
        <div  class="fecha" *ngIf=experiencia.exp_final>{{experiencia.exp_comienzo |date:"yyyy"}} {{experiencia.exp_final |date:"yyyy"}}</div>    
    <mat-card-actions class="edicion">
      <button mat-button>
        <mat-icon>create</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-actions>
  </mat-expansion-panel>

  <mat-card-actions class="edicion">
    <button mat-button>
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
  
</mat-accordion>

